/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */
.intro {
	background: #fff url(imgs/intro_bkgd_4.jpg) no-repeat right center fixed;
	background-size: cover;
    height: 300px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.intro {
		background: #fff url(imgs/intro_bkgd_3.jpg) no-repeat right center fixed;
		background-size: cover;
	    height: 650px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.intro {
		background: #fff url(imgs/intro_bkgd_2.jpg) no-repeat right center fixed;
		background-size: cover;
	    height: 650px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.intro {
		background: #fff url(imgs/intro_bkgd_1.jpg) no-repeat right center fixed;
		background-size: cover;
	    height: 750px;
	}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

ul {
	list-style-type: none;
	padding: 0;
	display: inline-block;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0px 16px 0px 16px;
	text-decoration: none;
}

li a:hover {
	color: #111111;
}

.fa {
	font-size: 28px;
}

.portfolio-img {
	border-bottom: 1px dashed #d5d5d5;
}

.modal-header {
	margin: 0 auto;
	border-bottom: none;
	padding-bottom: 8px; /* default 16px */
}

.modal-title {
	text-decoration: underline;
}

.modal-body {
	padding-top: 0px; /* default 16px */
	padding-bottom: 0px; /* default 16px */
}

.modal-footer {
	border-top: none;
	padding-top: 12px; /* default 16px */
	justify-content: space-between;
}