:root {
	--color-album-grey: #6c757d;
	--color-portfolio-layer: rgba(0, 40, 255, 0.75);
	--color-light-grey: #666666;
	--color-slate-grey: #2e2e2e;
}

.exp-title {
	color: var(--color-slate-grey);
	font-family: 'Proxima Nova', serif, sans-serif;
}

.exp-comp {
	font-family: 'Proxima Nova', serif, sans-serif;
}

.exp-ul {
	padding-left: 20px;
	color: var(--color-light-grey);
	font-family: 'Proxima Nova', serif, sans-serif;
}

.exp-info {
	display: flex;
	justify-content: space-between;
}

.exp-loc {
	color: var(--color-slate-grey);
}

.exp-date {
	color: var(--color-light-grey);
}

/*
 * Contact Section
 */
.contact-ul {
	list-style-type: none;
	padding: 0;
	display: inline-block;
}

.contact-li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0px 16px 0px 16px;
	text-decoration: none;
}

li a:hover {
	color: black;
}

.contact-fa {
	font-size: 28px;
}

/*
 * Portfolio Section
 */

/* Card */
.portfolio-img {
	position: relative;
	width: 100%;
	border-radius: .25rem
}

.layer {
	visibility: hidden;
	background-color: var(--color-portfolio-layer);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: .25rem;
	overflow: hidden;
}

.card:hover .layer {
	visibility: visible;
}

.card-details {
	padding-bottom: 0%;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 5%;
}

.card-title {
	color: white;
	font-size: 18px;
}

.card-text {
	color: white;
	font-size: 12px;
}

.card-btn {
	color: white;
    border-color: white;
}

.card-btn:hover {
	color: var(--color-portfolio-layer);
	background-color: white;
	border-color: white;
}

.card-date {
	color: white!important;
}

 /* Modal */
.modal-header {
	margin: 0 auto;
	border-bottom: none;
	padding-bottom: 8px; /* default 16px */
}

.modal-title {
	text-decoration: underline;
}

.modal-body {
	padding-top: 0px; /* default 16px */
	padding-bottom: 0px; /* default 16px */
}

.modal-footer {
	border-top: none;
	padding-top: 12px; /* default 16px */
	justify-content: space-between;
}


/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */
.intro {
	border-radius: 0;
	background: url(imgs/intro_bkgd_4.jpg) no-repeat right center fixed;
	background-size: cover;
	height: 300px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.intro {
		background: url(imgs/intro_bkgd_3.jpg) no-repeat right center fixed;
		background-size: cover;
		height: 650px;
	}
	.exp-info {
		display: block;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.intro {
		background: url(imgs/intro_bkgd_2.jpg) no-repeat right center fixed;
		background-size: cover;
		height: 650px;
	}
	.card-title {
		font-size: 15px;
	}
	.card-text {
		display: none;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.intro {
		background: url(imgs/intro_bkgd_1.jpg) no-repeat right center fixed;
		background-size: cover;
		height: 750px;
	}
	.card-title {
		font-size: 18px;
	}
	.card:hover .card-text {
		display: block;
	}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}